*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    color: white;
    background: black;
    overflow: hidden;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}
.logo{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
}

.navbar a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 30px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(218, 179, 179);
    /* font-weight: 200; */
}

.main{
    min-height: 100vh;
    background: url(./images/background.webp) no-repeat;
    background-size: cover;
    pointer-events: auto;
    background-position: center;
    transition: .3s ease;
    
}

.main.active{
    filter: blur(15px);
    pointer-events: none;
    
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.home_content h1{
    font-size: 78px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(221, 169, 169, 0.288);
}

.home_content p{
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 10px rgba(221, 169, 169, 0.288);
    margin-bottom: 30px;
    
}

.home_content .start_btn{
    width: 190px;
    height: 55px;
    background: rgb(122, 11, 126);
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(221, 169, 169, 0.288);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.home_content .start_btn:hover{
    background: white;
    color:  rgb(122, 11, 126);
    border: 2px solid rgb(122, 11, 126);
}
.popup_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    background: rgb(243, 241, 245);
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.popup_info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.popup_info h2{
    font-size: 50px;
    color: rgb(65, 3, 67);
}

.popup_info .info{
    /* display: inline-block; */
    font-size: 16px;
    color: rgb(12, 9, 9);
    font-weight: 500;
    margin: 4px 0;
    
}

.popup_info .btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(122, 11, 126);
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup_info .btn_group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background: rgb(122, 11, 126);
    border: 2px solid rgb(122, 11, 126);
    outline: none;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 5px 10px black;
    cursor: pointer;
    transition: .5s;
}
.popup_info .btn_group .info-btn:nth-child(1) {
    background: transparent;
    color:  rgb(114, 18, 117);
}

.popup_info .btn_group .info-btn:nth-child(1):hover{
    background:  rgb(114, 18, 117);
    color:  white;
} 

.popup_info .btn_group .info-btn:nth-child(2):hover{
    background:   white;
    color: rgb(114, 18, 117);
} 

.quiz-section {
    background: rgb(67, 43, 67);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 0; */
    left: -50%;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;

    
}

.quiz-section.active{
    left: 0;
}

.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}


.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;

}
.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, purple, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid purple;
    margin-bottom: 30px;
}

.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score{
    background: purple;
    border-radius: 3px;
    padding: 7px;
}
.quiz-box .question-text{
    font-size: 24px;
    font-weight: 500;
}

.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgb(244, 239, 239);
    font-size: 17px;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
}

.option-list .option:hover{
    background: purple;
    border-color: rgb(174, 170, 170);
}

.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid purple;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .quiz-total{
    font-size: 16px;
    font-weight: 600;
}
.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: gainsboro;
    border: 2px solid rgb(174, 170, 170);
    border-radius: 6px;
    outline: none;
    color: gray;
    font-weight: 500;
    cursor: pointer;

}






















